# exclude mac file
*DS_Store

# exclude matlab autosaves and octave workspace info
*.m~
*octave-workspace

# exclude content of logfiles folders
*output*
*.mat

# exclude temp files from tests and coverage
*test_code_report.txt
*coverage*

*filteredBy*

tests/*.nii*
tests/*.json*
tests/*.tsv*

# exclude report from check_my_code
check_my_code_report.txt

# jupyter notebook checkpoints
notebooks/.ipynb_checkpoints/*
notebooks/source/*
notebooks/output/*
notebooks/new_experiment/*

# ignore node js files
node_modules/*
package-lock.json

# visual studio code stuff
.vscode

# virtual env
cpp_bids/*

# documentation
docs/build/*
