---
name: tests and coverage with octave

on:
  push:
    branches:
    - main
  pull_request:
    branches: ['*']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


jobs:
  tests_octave:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v5
      with:
        submodules: true
        fetch-depth: 1

    - name: Make jsonread for octave
      run: |
        sudo apt-get -y -qq update
        sudo apt-get -y install octave octave-dev
        cd lib/JSONio
        mkoctfile --mex jsonread.c jsmn.c -DJSMN_PARENT_LINKS

    - name: MOxUnit Action
      uses: joergbrech/moxunit-action@v1.3.0
      with:
        tests: tests # files or directories containing the MOxUnit test cases
        src: src # directories to be added to the Octave search path before running the tests.
        ext: tests/utils lib # External resources to add to the search put (excluded from coverage)
        # data: # Directory for test data
        with_coverage: true
        cover_xml_file: coverage.xml

    - name: Code coverage
      uses: codecov/codecov-action@v5
      with:
        file: coverage.xml
        flags: octave
